export default {
  prask_3_1_4: {
    token: '',
    scoring: {
      'A1': 1,
      'A2': 1,
      'A3': 1,
      'A4': 3,
      'A5': 4,
      'A6': 3,
      'A7': 2,
    }
  },
  prask_3_1_5: {
    token: '',
    scoring: {
      'B1': 3,
      'B2': 3,
      'B3': 4,
      'B4': 5,
    }
  },
}
