h1
    text-align center
body
    background-color: darkgrey
.not-implemented
    text-align center
    background-color: yellow

.level-icon
    flex-basis calc(33.333% - 4rem)
    flex-grow 1
    flex-shrink 0
    margin 0 2rem 2rem 2rem
    padding 2rem
    border 1px solid grey
    background lightgrey
    box-shadow 0 0 0 5px rgba(0,0,0,0.03);
    position relative