
.Train
    height 100px
    
.GameGrid
    height 600px
    width 800px
    margin 0 auto

.ToolBox
    width 100%
    margin 0 auto
    height 600px

.LevelDescription
    width 100%
    height 600px
    margin 0 auto

.not-implemented
    text-align center
    border 1px solid red
    background-color: yellow
    height: 100%
    width: 100%
    margin 0 auto

.Carriage
    background-color lightgrey
    text-align center
    input
        text-align center
.Locomotive
    background-color: darkgrey
    width 120px
    height 80px
.Tile
    width 38px
    height 38px
    border 1px solid darkgreen
    background-color: lightgreen
    float left
.TileRow
    float right
    padding-right: 40px

.Hint
    p
        display none
    &:hover
        > p
            display block
