.level-icon
    height 10%
    background-color #464545
    display: flex
    flex-direction: column
    align-items center
    justify-content center
    margin 10px
    border-radius: 10
    height 150px
    width 250px
    color white
    flex-wrap wrap
    &:hover
        background-color #565555
.levels-grid
    display: flex
    flex-direction: column
    align-items center
    justify-content center


.game
    display: flex
    flex-direction: column
    align-items center
    justify-content center
.Train
    height 5%
    margin-left 5%
    margin-right 5%
    
.bottom-game
    display: flex
    flex-direction: row
    justify-content space-around
    margin-top 1%
.ToolBox
    width 50%
    padding-left: 1%
    margin-right: 2%
    

.gridWithAnimation
    position: relative
    width: 714px
    height: 504px

.TileRow
    display: flex
    flex-direction: row
    align-items space-around
    justify-content space-around
.Tile
    width 42px
    height 42px
    border 1px solid darkgreen
    background-color: lightgreen
.Empty
    visibility: hidden


.LevelDescription
    width 100%
    height 600px
    margin-right: 2%

.not-implemented
    text-align center
    border 1px solid red
    background-color: yellow
    height: 100%
    width: 100%
    margin 0 auto

.Carriage
    width 90px 
    height 110px
    background-image: url('/static/img/carriage.jpg')
    background-size: 90px 110px;
    background-repeat: no-repeat;
    text-align center
    cursor pointer
    input
        text-align center
.Locomotive
    background-image: url('/static/img/locomotive.jpg')
    background-size: 130px 110px;
    width 130px
    height 110px
.Hint
    display block
.currentTool
    border 2px solid red

.ToolIcon
    float right
    width 41px
    height 41px
    border: 2px solid green
    cursor: pointer
.dropdown-menu
    position relative
    min-width: 41px

.grid
    position absolute
    z-index: 0
    right 0px
.animationSvg
    position absolute
    z-index: 1
    pointer-events: none
    left 42px
    svg 
        background none

svg 
    background-color: lightgreen
    pointer-events: none

.ToolIcon
    a
        height 40px
        width 40px
        font-size: 40px
.GameGrid
    display: flex
    flex-direction: column
    align-items center
    justify-content center    
    margin-left 5%
    margin-right 3%

.App
    margin-top 2%

.trainBeg
    width 42px
    height 42px
    border 1px solid darkgreen
    float left
    background-color: lightgreen
.trainEnd
    width 42px
    height 42px
    border 1px solid darkgreen
    float left
    background-color: lightgreen

input
    width 600px